
.navbar-nav
{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
    .navbar-nav :hover {
    color: #ff0000; /* Change to your desired hover color */
  }
.read-more-span{
    color: #17c1a3;
    cursor: pointer;
}
 
#newsletter-card{
    position: relative;
    top: -10%;
    background-image: url("assets/news.png");
    background-size: cover;
    margin-left: 65px;
    width: 89%;
    height: 30vh;
    background-color: #fff;
    border-radius: 10px;
}
 
#newsletter-card h5{
    width: 70%;
    font-weight: bold;
}
#newsletter-card button{
    background-color: #17c1a3;
    border: none;
    font-size: .8rem;
}
#newsletter-input{
    padding-bottom: 1px;
    border-bottom: 1px solid black;
}
#newsletter-input input{
    border: none;
}
#newsletter-input input::placeholder{
    font-size: 0.8rem;
    color: gray;
}

#footer p{
    font-size: .6rem;
}
#footer h6{
    font-size: .8rem;
    font-weight: bold;
}
#footer-gg-logo{
    width: 200px;
}
#footer-social {
    width: 60%;
}
#footer-social img{
    width: 20px;
}

@media (max-width: 768px) {
    
    .navbar {
      padding: 0;
    }
    .navbar-brand {
      margin-left: 0;
    }
  }
  
  @media (max-width: 576px) {
   
    .navbar-collapse {
      justify-content: flex-start;
    }
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
 
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  }
  
 
  @media (max-width: 576px) {
    .col-md-3 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  